*::before,
*::after,
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  color: #000 !important;
  overflow-x: hidden;
}
:root {
  --clr-basic-text : #fff;
  --clr-first-color: #A06C4A;
  --clr-second-color: #FAF1E1;
  --clr-greyish: #C4C4C4;
}


/*Navbar====
=======================================================================*/
.higherMenu{
  background-color: var(--clr-first-color) !important;
}
.linked--page{
  text-decoration: none;
  color: var(--clr-basic-text);
}
.linked--page:hover{
  text-decoration: none;
  color: var(--clr-basic-text);
}
.bag{
  background-color: transparent;
  color : var(--clr-basic-text);
  border-radius: 50%;
  border: 1px solid var(--clr-basic-text);
  font-size: 0.9rem;
}
.logo{
  font-size: 1.2rem;
}


/*DiscoverUs ===
=====================================================================*/
.DiscoverUs{
  margin-top: 14%;
}
.DiscoverUs p:first-of-type{
  font-size: 1rem;
  letter-spacing: -1px;
}
.DiscoverUs h1{
  font-family: Amiri;
  font-size: 5.4rem;
  padding: 0 6%;
  line-height: 5rem;
  letter-spacing: -1px;
}
.DiscoverUs p:nth-of-type(2){
  justify-content: center;
  font-family: Amiri;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -1px;
  padding: 3% 18% ;
}
.DiscoverUs-details{
  font-family: Uchen;
  font-size: 1.5rem;
  text-align: justify;
}
.DiscoverUs-details h3{
  font-weight: 700;
}
.values h2{
  font-family: Uchen;
  font-size: 4rem;
  letter-spacing: -2px;
}
.values-details{
  display: flex;
  justify-content: space-evenly;
}
.values-details div h6{
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  margin-top: 15%;
  margin-bottom: 10%;
}
.values-details div i{
  color: var(--clr-first-color);
  background-color:transparent;
  border: 2px solid var(--clr-first-color);
  border-radius: 50%;
  font-size: 3rem;
}
.fa-lightbulb{
  padding: 5rem 5.5rem ;
}
.fa-laptop-code{
  padding: 5.1rem 5rem ;
}
.fa-handshake{
  padding: 5.1rem 5rem ;
}


/*NewLetter===
===================================================================*/
.NewLetter h2{
  letter-spacing: -1px;
}
.NewLetter input{
  margin-top: 6%;
  margin-bottom: 1%;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0.5rem 14rem 0.5rem 0.5rem;
  outline: none;
}



/*Responsive
===============================================*/
@media (max-width: 797px) {
  .fa-lightbulb{
    padding: 3rem 3.5rem ;
  }
  .fa-laptop-code{
    padding: 3.1rem 3rem ;
  }
  .fa-handshake{
    padding: 3.1rem 3rem ;
  }
  .values-details div h6{
    font-size: 1rem;
  }
}
@media (max-width: 940px) {
  .DiscoverUs{
    margin-top: 25%;
  }
}
@media (max-width: 940px) {
  .fa-lightbulb{
    padding: 2rem 2.5rem ;
  }
  .fa-laptop-code{
    padding: 2.1rem 2rem ;
  }
  .fa-handshake{
    padding: 2.1rem 2rem ;
  }
  .values-details div h6{
    font-size: 1rem;
    font-family: Roboto, sans-serif;
    margin-top: 15%;
    margin-bottom: 10%;
  }
  .NewLetter input{
    padding: 0.5rem 10rem 0.5rem 0.5rem;
  }
}
@media (max-width: 488px) {
  .fa-lightbulb{
    padding: 1rem 1.5rem ;
  }
  .fa-laptop-code{
    padding: 1.1rem 1rem ;
  }
  .fa-handshake{
    padding: 1.1rem 1rem ;
  }
  .NewLetter input{
    padding: 0.3rem 2rem 0.3rem 0.3rem;
  }
  .values-details div i{
    font-size: 1.5rem;
  }
  .DiscoverUs{
    margin-top: 40%;
  }
  .DiscoverUs h1{
    font-size: 2.4rem;
    line-height: 2rem;
  }
}
